{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "semi": false,

  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/app",
    "",
    "^@/@pages",
    "",
    "^@/widgets",
    "",
    "^@/features",
    "",
    "^@/entities",
    "",
    "^@/shared",
    "",
    "^[./]"
  ]
}
